// Mobile
.contact {
  padding: var(--spacing-64) var(--spacing-32);
  text-align: center;

  p {
    margin-top: var(--spacing-32);
    margin-bottom: var(--spacing-16);
  }

  .mail {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .contact {
    padding: var(--spacing-128) var(--spacing-64);

    p {
      margin-top: var(--spacing-64);
      margin-bottom: var(--spacing-32);
    }

    .mail {
      font-size: 32px;
    }
  }
}
