<h3>👋 Say “hallo!”</h3>
<div class="contact-grid">
  <a href="https://github.com/PlayeMatthieu" target="-_blank">
    <div class="grid-card">
      <div class="contact-logo">
        <img ngSrc="assets/images/icons/socials/github.svg" alt="Github" height="96" width="98">
        <p>Github</p>
        <span class="card-subtitle">&#64;PlayeMatthieu</span>
      </div>
    </div>
  </a>
  <a href="https://www.linkedin.com/in/matthieu-playe-930470210/" target="_blank">
    <div class="grid-card">
      <div class="contact-logo">
        <img ngSrc="assets/images/icons/socials/linkedin-in.svg" alt="Linkedin" height="44" width="40">
        <p>Linkedin</p>
        <span class="card-subtitle">&#64;Matthieu-Playe</span>
      </div>
    </div>
  </a>
  <a class="grid-column-2" href="mailto:matthieuplaye@gmail.com">
    <div class="grid-card">
      <div class="contact-logo">
        <img ngSrc="assets/images/icons/socials/mail.svg" alt="Mail" height="40" width="40">
        <p>Mail</p>
        <div class="card-subtitle">matthieuplaye&#64;gmail.com</div>
      </div>
    </div>
  </a>
</div>
