// Mobile
header {
  padding: var(--spacing-24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #C6C5C1;
}

.hamburger {
  display: block;
  cursor: pointer;

  .line {
    width: 25px;
    height: 2px;
    background-color: #141414;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
}

.links {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: #141414;
  display: flex;
  transition: 0.2s;
  overflow: hidden;
  z-index: 5;
}

.links.active {
  height: auto;
  padding: var(--spacing-32) 0;

  ul {
    opacity: 1;
  }
}

.links ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: var(--spacing-32);
  opacity: 0;

  li a {
    color: var(--text-color-light);
  }
}

@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .links {
    position: static;
    width: auto;
    height: auto;
    display: block;
    background-color: var(--bg-color-light);
  }

  .links ul {
    display: flex;
    width: fit-content;
    margin: 8px auto 0 auto;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--spacing-32);
    opacity: 1;

    li a {
      color: var(--text-color);
    }
  }
}
