<header id="nav">
  <div class="brand">
    <a href="#nav" (click)="toggleNav()">
      <img src="assets/images/Logo.svg" alt="Logo">
      Matthieu Playe
    </a>
  </div>

  <!--    Hamburger-->
  <div class="hamburger" (click)="toggleNav()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <nav class="links" [class.active]="navOpen">
    <ul>
      <li><a href="#about" (click)="toggleNav()">About</a></li>
      <li><a href="#services" (click)="toggleNav()">Services</a></li>
      <li><a href="#projects" (click)="toggleNav()">Projects</a></li>
      <li><a href="#experience" (click)="toggleNav()">Experience</a></li>
      <li><a href="#contact" (click)="toggleNav()">Contact</a></li>
    </ul>
  </nav>
</header>
