<h3>👱🏻‍♂️ About</h3>

<div class="about-grid">
  <div class="grid-card">
    <div class="card-header">
      <p class="card-title">My story</p>
    </div>
    <div class="card-body about-body">
      <p>I am a 27-year-old software developer from Belgium. My journey into the world of technology and computer science
        has been a adventure, starting as a construction worker and transitioning into a career that aligns with my true
        passion - software development.</p>
      <p>My software development career started as a self-taught front-end developer but eager to learn I continued my
        journy following a graduation in software development.</p>
      <p>
        Today, I proudly serve as a front-end developer at Visma Bouwsoft, working on an exciting new Saas product called
        “Buildmate”. This project was a huge opportunity, allowing me to immerse myself in the complete product
        development process, right from its inception to where we stand today.</p>
      <p>In addition to my primary role as a Front-End Developer at Visma Bouwsoft, I embarked on a side venture as a
        freelancer, working as a self-employed professional.</p>
    </div>
  </div>
  <div class="grid-card" #sliderCard>
    <div class="card-header">
      <p class="card-title">Skills</p>
    </div>
    <div class="card-body">
<!--      <app-skills-slider [maxWidth]="sliderCardWidth"></app-skills-slider>-->
    </div>
  </div>
</div>
