// Mobile
.about {
  padding: var(--spacing-xxl) var(--spacing-l);
  background-color: var(--bg-color-dark);
  color: var(--text-color-light);

  .about-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-s);
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .about {
    .about-text {
      text-align: left;
      align-items: flex-start;
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}
