// Mobile
.experience {
  position: relative;
  padding: var(--spacing-xxl) var(--spacing-l);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-xxl);

  .experience-circles {
    position: absolute;
    bottom: -125px;
    left: -50px;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
  }

  .experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-xxl);
  }

  h5 {
    color: var(--experience-text-color);
  }

  .experience-container, .education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m);
  }


  .skills-container {
    .skills-list {
      padding-top: var(--spacing-xl);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--spacing-l);
      width: 100%;

      .skill {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: var(--spacing-m);
        text-transform: uppercase;

        img {
          max-width: 100%;
          height: auto;
          object-fit: contain;
          filter: grayscale(100%);
        }

        h6 {
          font-weight: 500;
          text-transform: uppercase;
          color: var(--experience-text-color);
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .experience {
    .experience-circles {
      bottom: -250px;
      right: 0;
      max-width: 800px;
      height: auto;
    }

    .experience-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .education-container, .experience-container {
      grid-column: span 1;
      align-self: start;
    }

    .skills-container {
      grid-column: span 2;
    }
  }
}
