// Mobile
.experience {
  background-color: var(--bg-color-dark);
  padding: var(--spacing-64) var(--spacing-32);

  h2, h3, li {
    color: var(--text-color-light);
  }

  .experience-grid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
    margin-top: var(--spacing-32);

    .left-grid {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: var(--spacing-16);
      width: 100%;
    }

    .right-grid {
      .skills-container {
        position: relative;
        border: 1px solid #303030;
        padding: var(--spacing-16);
        height: 100%;
        width: 100%;
        min-height: 300px;

        span {
          position: absolute;
          padding: var(--spacing-8) var(--spacing-16);
          background-color: var(--bg-color-dark);
          border: 1px solid #303030;
          color: var(--text-color-light);
          border-radius: 50px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .experience {
    padding: var(--spacing-128) var(--spacing-64);

    .experience-grid {
      flex-direction: row;
      gap: var(--spacing-64);
      margin-top: var(--spacing-64);

      .right-grid {
        .skills-container {
          min-width: 400px;
        }
      }
    }
  }
}

// skills positions

.html {
  top: var(--spacing-16);
  left: var(--spacing-16);
  transform: rotate(5deg);
}

.css {
  top: 32%;
  left: 62%;
  transform: rotate(15deg);
}

.javascript {
  top: 65%;
  left: var(--spacing-16);
  transform:rotate(10deg);
}

.typescript {
  top: 70%;
  left: 52%;
  transform: rotate(-17.5deg);
}

.figma {
  top: var(--spacing-16);
  right: var(--spacing-16);
  transform: rotate(13deg);
}

.aws {
  top: 50%;
  right: var(--spacing-16);
}

.sass {
  top: 50%;
  right: 50%;
}

.angular {
  bottom: var(--spacing-16);
  right: var(--spacing-16);
}

.sql {
  bottom: var(--spacing-16);
  left: var(--spacing-16);
}

.ejs {
  bottom: 70%;
  left: 40%;
  transform: rotate(-17.5deg);
}

.webstorm {
  bottom: 50%;
  left: var(--spacing-16);
}
