<section class="experience" id="experience">
  <h2>Experience & skills</h2>
  <div class="experience-grid">
    <div class="left-grid">
        <h3>Education</h3>
        <ul>
          <li>Bachelor in wood technology</li>
          <li>Software developer graduate</li>
        </ul>
        <h3>Experience</h3>
        <ul>
          <li>De Torre</li>
          <li>Visma Bouwsoft</li>
          <li>Buildmate</li>
        </ul>
    </div>
    <div class="right-grid">
      <div class="skills-container">
        <span class="html">HTML</span>
        <span class="typescript">Typescript</span>
        <span class="sass">SASS</span>
        <span class="aws">AWS</span>
        <span class="javascript">Javascript</span>
        <span class="figma">Figma</span>
        <span class="css">CSS</span>
        <span class="angular">Angular</span>
        <span class="sql">SQL</span>
        <span class="ejs">EJS</span>
        <span class="webstorm">Webstorm</span>
      </div>
    </div>
  </div>
</section>
