<section class="experience" id="experience">
  <h2>Experience & skills</h2>
  <div class="experience-grid">
    <div class="left-grid">
        <h3>Education</h3>
        <div class="education-items">
          <div class="item">
            <p class="title">Bachelor in wood technology</p>
            <p class="date">2015 - 2019</p>
          </div>
          <div class="item">
            <p class="title">Software developer graduate</p>
            <p class="date">2019 - 2022</p>
          </div>
        </div>
        <h3>Experience</h3>
      <div class="experience-items">
        <div class="item">
          <p class="title">De Torre</p>
          <p class="date">2019 - 2022</p>
        </div>
        <div class="item">
          <p class="title">Visma Bouwsoft</p>
          <p class="date">2022 - Current</p>
        </div>
      </div>
    </div>
    <div class="right-grid">
      <div class="skills-container">
        <span class="html">HTML</span>
        <span class="typescript">Typescript</span>
        <span class="sass">SASS</span>
        <span class="aws">AWS</span>
        <span class="javascript">Javascript</span>
        <span class="figma">Figma</span>
        <span class="css">CSS</span>
        <span class="angular">Angular</span>
        <span class="sql">SQL</span>
        <span class="ejs">EJS</span>
        <span class="webstorm">Webstorm</span>
      </div>
    </div>
  </div>
</section>
