// Variables

:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --mobile-breakpoint: 320px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;
  --large-desktop-breakpoint: 1440px;
  --extra-large-desktop-breakpoint: 1920px;
}

// Colors
:root {
  --background-color: #EAE8E5;
  --text-color: #201E1E;
  --text-color-light: #F3F1EE;
  --text-color-gray: #7D7C7A;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

// Typography
h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.24px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: normal;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
}

h5 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

// Container
.container {
  margin: auto;
  max-width: 1440px;
  padding: 0 var(--spacing-m);
}