//Mobile
.home-grid {
  padding-top: var(--spacing-64);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-16);
  position: relative;

  .left-grid {
    .content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-16);
      align-items: center;
    }
  }
}

.matthieu-image {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  img {
    width: 80%;
    height: auto;
  }
}

// Non Mobile
@media (min-width: 768px) {
  .home-grid {
    padding-top: var(--spacing-128);
    grid-template-columns: 1fr 2fr;

    .left-grid {
      padding-right: var(--spacing-16);
      .content {
        position: sticky;
        top: var(--spacing-128);
        gap: var(--spacing-32);
        align-items: flex-start;
      }
    }
  }
}

