<section class="hero" id="hero">
  <div class="hero-grid">
    <div class="hero-left">
      <h1>Hello! I'm Matthieu a web developer from Belgium.</h1>
      <p>Specialising in web and mobile development</p>

      <div class="buttons">
        <a class="button filled" href="mailto:matthieuplaye@gmail.com">Contact me</a>
        <a class="button" href="#">Projects</a>
      </div>
    </div>
    <div class="hero-right">
      <img src="assets/images/Matthieu_playe_hero_foto.webp" alt="Matthieu Playe foto">
    </div>
  </div>
</section>
