<section class="hero">
  <img class="hero-circles" ngSrc="assets/images/Circels.svg" alt="Circles" height="908" width="908">
  <div class="hero-text">
    <h1>Software developer</h1>
    <p class="sub-title">Hey, my name is Matthieu Playe and I’m a 27 year old ambitious developer specialized in building web applications
      with clean, minimal & meaningfull interfaces. </p>
  </div>
  <img ngSrc="assets/images/Matthieu_playe_hero_foto.webp" alt="Matthieu Playe" height="889" width="820">
</section>
