<h3>💻 Some projects I worked on</h3>

<div class="projects-grid">
  <div class="grid-card grid-column-2">
    <div class="card-header">
      <div class="card-header-left">
        <p class="card-title">Buildmate</p>
        <span class="card-subtitle">https:buildmate.be</span>
      </div>
      <div class="card-header-right">
        <a href="https://www.buildmate.be/" target="_blank">
          <div class="circle-arrow"></div>
        </a>
      </div>
    </div>
    <div class="card-body">
      <img ngSrc="assets/images/Buildmate_app.png" alt="Buildmate app image" height="452" width="739">
    </div>
  </div>
  <div class="grid-card">
    <div class="card-header">
      <div class="card-header-left">
        <p class="card-title">Duotecno</p>
        <span class="card-subtitle">https://www.duotecno.be/</span>
      </div>
      <div class="card-header-right">
        <a href="https://www.duotecno.be/" target="_blank">
          <div class="circle-arrow"></div>
        </a>
      </div>
    </div>

    <div class="card-body">
      <img ngSrc="assets/images/Duotecno_app.png" alt="Duotecno_app image" height="216" width="228">
    </div>
  </div>
  <div class="grid-card">
    <p class="card-title">Push up app</p>
    <span class="card-subtitle">Work in progress</span>
  </div>
</div>
