<h3>💻 Some projects I worked on</h3>

<div class="projects-grid">
  <div class="grid-card grid-column-2">
    <div class="card-header">
      <div class="card-header-left">
        <p class="card-title">Buildmate</p>
        <span class="card-subtitle">Cloud ERP software for building contractors</span>
      </div>
      <div class="card-header-right">
        <a href="https://www.buildmate.be/" target="_blank">
          <img class="circle-arrow" ngSrc="assets/images/icons/arrow_45deg.svg" alt="Arrow" height="24" width="24">
        </a>
      </div>
    </div>
    <div class="card-body">
      <img ngSrc="assets/images/Buildmate_app.png" alt="Buildmate app image" height="312" width="509" priority>
    </div>
  </div>
  <div class="grid-card">
    <div class="card-header">
      <div class="card-header-left">
        <p class="card-title">Duotecno</p>
        <span class="card-subtitle">Mobile app for smart homes</span>
      </div>
      <div class="card-header-right">
        <a href="https://www.duotecno.be/" target="_blank">
          <img class="circle-arrow" ngSrc="assets/images/icons/arrow_45deg.svg" alt="Arrow" height="24" width="24">
        </a>
      </div>
    </div>

    <div class="card-body">
      <img ngSrc="assets/images/Duotecno_logo_black.svg" alt="Duotecno_logo image" height="216" width="228">
    </div>
  </div>
  <div class="grid-card">
    <p class="card-title">Push up app</p>
    <span class="card-subtitle">Work in progress</span>
  </div>
</div>
