//Mobile
.services {
  background-color: var(--bg-color-dark);
  padding: var(--spacing-64) var(--spacing-32);

  h2 {
    color: var(--text-color-light);
  }

  .services-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-32);
    margin-top: var(--spacing-32);

    .service-item {
      background-color: var(--bg-color-light);
      padding: var(--spacing-32);
      min-width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: var(--spacing-16);
      text-align: center;
      max-width: 300px;

      .service-item-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #F5F5F5;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .services {
    padding: var(--spacing-128) var(--spacing-64);

    .services-items {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: var(--spacing-64);

      .service-item {
        max-width: 300px;
        gap: var(--spacing-32);
      }
    }
  }
}
